<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>RKFASHIONS</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css"/>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .center-content {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>
<body>
<section id="header">
  <a href="#"><img th:src="@{/images/logo.png}" width="100px"></a>
  <div>
    <ul id="navbar">
      <li><a href="index.html" th:href="@{/index}">Home</a></li>
      <li><a class="active" href="products.html" th:href="@{/products}">Products</a></li>
      <li><a href="contact.html" th:href="@{/contact}">Contact</a></li>
      <li><a th:href="@{/login}">Login</a></li>
      <li><a href="cart.html" th:href="@{/cart}"><i class="fa fa-shopping-cart"></i></a></li>
    </ul>
  </div>
</section>
<div class="container center-content">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <div class="d-flex justify-content-center">
        <img class="img-fluid" height="150px" width="150px"
             th:src="@{/productImages/{imageName}(imageName=${product.imageName})}">
      </div>
    </div>
    <div class="col-lg-8 col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title" th:text="${product.name}"></h5>
          <h6 th:text="${product.category}"></h6>
          <h4>$<span th:text="${product.price}"></span></h4>
          <p th:text="${product.description}"></p>
          <a href="#" th:href="@{/shop/viewCart/{id}(id=${product.id})}" class="btn btn-primary">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
