<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>RKFASHIONS</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}"/>

</head>
<body>
<section id = "header">
  <a href ="#"><img src= "" th:src="@{/images/logo.png} " width="100px"> </a>
  <div>
    <ul id ="navbar">
      <li><a class="active" th:href="@{/admin}">Admin-Home</a></li>
<!--      <li><a href="login.html">Login</a></li>-->
      <li><a  th:href="@{/logout}">Logout</a></li>
    </ul>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="col-sm">
        <div th:if="${categoryExists}">
          <div class="alert alert-danger" role="alert">
            Category already exists!
          </div>
        </div>
      <form action="#" th:action="@{/admin/categories/add}" method="post" th:object="${category}">
        <input type="hidden" name="id" th:field="*{id}">
        <div class="form-group">
          <label for="name" >Name</label>
          <input id= "name" type ="text" class="form-control" required th:field ="*{name}" name ="name"  style="width: 500px;">

        </div>
        <button type="submit"  class = " btn btn-primary" >Submit</button>
      </form>
    </div>
  </div>
</div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>