<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>RKFASHIONS</title>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css"/>
  <link rel="stylesheet" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body style="background-image: url('/images/watercolor.png'); background-repeat: no-repeat;
  background-size: cover;">
<section id = "header">
      <a href ="#"><img src= "" th:src="@{/images/logo.png} " width="100px"> </a>
  <div>
    <ul id ="navbar">
      <li><a class="active" th:href="@{/admin}">Admin-Home</a></li>
      <li><a  th:href="@{/logout}">Logout</a></li>

    </ul>
  </div>
</section>

<section id ="cart" class="section-p1">

  <table width="100%" class="table">
    <thead class="thead-light">
    <tr>
      <th class="text-left" scope="col">SN</th>
      <th class="text-left" scope="col">CustomerName</th>
      <th class="text-left" scope="col">CustomerEmail</th>
      <th class="text-left" scope="col">Subject</th>
      <th class="text-left" scope="col">Enquiry</th>
      <th class="text-left" scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr class="text-left" th:each="enquiry, iStat :${inquiries}">
      <th class="text-left" scope="row" th:text="${iStat.index + 1}">1</th>
      <td class="text-left" th:text="${enquiry.name}">Larry</td>
      <td class="text-left" th:text="${enquiry.email}"></td>
      <td class="text-left" th:text="${enquiry.subject}"></td>
      <td class="text-left" th:text="${enquiry.enquiry}"></td>
      <td class="text-left" ><a th:href="@{/admin/enquiries/delete/{id}(id=${enquiry.id})}" class="btn btn-danger">Delete</a> </td>
<!--      <td><a th:href="@{/admin/enquiries/update/{id}(id=${enquiry.id})}">Update</a> </td>-->
    </tr>
    </tbody>
  </table>
</section>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>