<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RKFASHIONS</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="" th:href="@{/css/footer.css}"/>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        #header {
            background-color: #f8f8f8;
            padding: 30px;
        }

        #navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #navbar li {
            display: inline;
            margin-right: 10px;
        }

        .container {
            margin-top: 20px;
        }
    </style>
</head>
<body >
<section id="header"  style=" margin-bottom: 20px;">
    <a href="#"><img th:src="@{/images/logo.png}" width="100px"></a>
    <div>
        <ul id="navbar">
            <li><a href="index.html" th:href="@{/index}">Home</a></li>
            <li><a  href="products.html" th:href="@{/products}">Products</a></li>
            <li><a class="active" th:href="@{/shop}">Shop</a></li>
            <li><a href="contact.html" th:href="@{/contact}">Contact</a></li>
<!--            <li><a th:href="@{/login}">Login</a></li>-->
            <li><a th:href="@{/logout}">Logout</a></li>
            <li><a href="cart.html" th:href="@{/cart}"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h4>Categories</h4>
            <ul class="list-group">
                <a th:href="@{/shop}"><li class="list-group-item">All Products</li></a>
                <a href="" th:each="category, iStat: ${categories}"
                   th:href="@{/shop/category/{id}(id=${category.id})}">
                    <li class="list-group-item" th:text="${category.name}"></li>
                </a>
            </ul>
        </div>
        <div class="col-sm-9">
            <div class="card" style="" th:each="product:${products}">
                <div class="row no-gutters">
                    <div class="col-sm-5 d-flex justify-content-center">
                        <img class="" height="150px" width="150px"
                             th:src="@{/productImages/{imageName}(imageName=${product.imageName})}">
                    </div>
                    <div class="col-sm-7 d-flex justify-content-center">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.name}"></h5>
                            <h4>$<span th:text="${product.price}"></span></h4>
                            <p th:text="${product.description}"></p>
                            <a href="#" th:href="@{/shop/viewProduct/{id}(id=${product.id})}"
                               class="btn btn-primary">View Product</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="section-p1">
    <div class="col">
        <img class="logo" src="../Images/logo.png" th:src="@{/images/logo.png} " alt="">
        <h4>Contact</h4>
        <p><strong>Address:</strong> Morgans Secret Dr,Cypress,TX,77433</p>
        <p><strong>Phone:</strong> (409)291-9013</p>
        <p><strong>Hours:</strong> 10AM to 4PM , Monday to Saturday</p>
        <div class="follow">
            <h4>Follow Us</h4>
            <div class ="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
    <div class="col">
        <h4>About</h4>
        <a href = "#">About us</a>
        <a href = "#">Delivery Information</a>
        <a href = "#">Privacy Policy</a>
        <a href = "#">Terms & Conditions</a>
        <a href = "#">Contact us</a>
    </div>
    <div class="col">
        <h4>My Account</h4>
        <a href = "#">Account</a>
        <a href = "#">Sign In</a>
        <a href = "#">View Cart</a>
        <a href = "#">Track My Order</a>
        <a href = "#">Help</a>
    </div>

</footer>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
